<a href="https://colab.research.google.com/github/Isrumk/gh-pages/blob/master/Simple_text_data_pre_processing_for_beginners_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing of libraries to be used

In [0]:
import re
import pandas as pd
import numpy as np

#Loading of dataset to colab notebook

In [0]:
#Import dataset from local drive to colab
from google.colab import files
uploaded = files.upload()

Saving github text.xlsx to github text.xlsx

In [0]:
import io
df = pd.read_excel(io.BytesIO(uploaded['github text.xlsx']))

In [0]:
df.head()

                                                text
0  Simulation studies will test your programming ...
1  @drabbiejordan @LineCaes They write constructi...
2  It's important to recognise the excellent supe...
3  #DoneDissertationTip Think of the dissertation...
4  My 21-year-old MBA student is home for a few d...

#1.Convert all text to lowercase

In [0]:
# make all text lowercase
df['clean_text'] = df['text'].apply(lambda x: x.lower())
df.head()

                                                text                                         clean_text
0  Simulation studies will test your programming ...  simulation studies will test your programming ...
1  @drabbiejordan @LineCaes They write constructi...  @drabbiejordan @linecaes they write constructi...
2  It's important to recognise the excellent supe...  it's important to recognise the excellent supe...
3  #DoneDissertationTip Think of the dissertation...  #donedissertationtip think of the dissertation...
4  My 21-year-old MBA student is home for a few d...  my 21-year-old mba student is home for a few d...

In [0]:
#Downloading dataset with sentiments
df.to_excel('text_lowercased.xlsx')
from google.colab import files
files.download('text_lowercased.xlsx')

#2.Remove URL(http) links from text

In [0]:
df['clean_text'] = df['clean_text'].replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)
df.head()

                                                text                                         clean_text
0  Simulation studies will test your programming ...  simulation studies will test your programming ...
1  @drabbiejordan @LineCaes They write constructi...  @drabbiejordan @linecaes they write constructi...
2  It's important to recognise the excellent supe...  it's important to recognise the excellent supe...
3  #DoneDissertationTip Think of the dissertation...  #donedissertationtip think of the dissertation...
4  My 21-year-old MBA student is home for a few d...  my 21-year-old mba student is home for a few d...

In [0]:
#Downloading dataset with sentiments
df.to_excel('text_lowercased_links.xlsx')
from google.colab import files
files.download('text_lowercased_links.xlsx')

#3.Remove twitter handles (@user)

In [0]:
#Functions to remove @ handle
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [0]:
# remove twitter handles (@user)
df['clean_text'] = np.vectorize(remove_pattern)(df['clean_text'], "@[\w]*")
df.head()

                                                text                                         clean_text
0  Simulation studies will test your programming ...  simulation studies will test your programming ...
1  @drabbiejordan @LineCaes They write constructi...    they write constructive comments on my work,...
2  It's important to recognise the excellent supe...  it's important to recognise the excellent supe...
3  #DoneDissertationTip Think of the dissertation...  #donedissertationtip think of the dissertation...
4  My 21-year-old MBA student is home for a few d...  my 21-year-old mba student is home for a few d...

In [0]:
#Downloading dataset with sentiments
df.to_excel('text_lowercased_handle.xlsx')
from google.colab import files
files.download('text_lowercased_handle.xlsx')

#4.Remove special characters,numbers and punctuations

In [0]:
# remove special characters, numbers, punctuations
df['clean_text'] = df['clean_text'].str.replace("[^a-zA-Z#]", " ")
df.head()

                                                text                                         clean_text
0  Simulation studies will test your programming ...  simulation studies will test your programming ...
1  @drabbiejordan @LineCaes They write constructi...    they write constructive comments on my work ...
2  It's important to recognise the excellent supe...  it s important to recognise the excellent supe...
3  #DoneDissertationTip Think of the dissertation...  #donedissertationtip think of the dissertation...
4  My 21-year-old MBA student is home for a few d...  my    year old mba student is home for a few d...

In [0]:
#Downloading dataset with sentiments
df.to_excel('text_lowercased_characters.xlsx')
from google.colab import files
files.download('text_lowercased_characters.xlsx')

#5.Remove hashtag(#) Symbol

In [0]:
# remove twitter handles hashtag(#)
df['clean_text'] = df['clean_text'].str.replace("[#]", " ")
df.head()

                                                text                                         clean_text
0  Simulation studies will test your programming ...  simulation studies will test your programming ...
1  @drabbiejordan @LineCaes They write constructi...    they write constructive comments on my work ...
2  It's important to recognise the excellent supe...  it s important to recognise the excellent supe...
3  #DoneDissertationTip Think of the dissertation...   donedissertationtip think of the dissertation...
4  My 21-year-old MBA student is home for a few d...  my    year old mba student is home for a few d...

In [0]:
#Downloading dataset with sentiments
df.to_excel('text_lowercasedwith hash.xlsx')
from google.colab import files
files.download('text_lowercasedwith hash.xlsx')

#6:Remove stop words using nltk Library

In [0]:
#Loading nltk package with stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
#Removing stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['clean_text'] =df['clean_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['clean_text'].head()

0    simulation studies test programming skills cor...
1    write constructive comments work showing impro...
2    important recognise excellent supervisors buil...
3    donedissertationtip think dissertation lot sma...
4    year old mba student home days seen two months...
Name: clean_text, dtype: object

#7.Download the clean dataset in excel format

In [0]:
#Downloading the pre-processed dataset 
df.to_excel('github_clean.xlsx')
from google.colab import files
files.download('github_clean.xlsx')